[submodule "mrbgems/picoruby-mrubyc/lib/mrubyc"]
	path = mrbgems/picoruby-mrubyc/lib/mrubyc
	url = https://github.com/mrubyc/mrubyc
[submodule "mrbgems/picoruby-mruby/lib/mruby"]
	path = mrbgems/picoruby-mruby/lib/mruby
	url = https://github.com/hasumikin/mruby.git
[submodule "mrbgems/picoruby-mruby/lib/tlsf"]
	path = mrbgems/picoruby-mruby/lib/tlsf
	url = https://github.com/mattconte/tlsf
