# Node modules
node_modules/

# Build artifacts
dist/articles/*.json
dist/articles/*.md
dist/misc/
dist/*/index.html
!dist/index.html
!dist/404.html
dist/picoruby.wasm
dist/picoruby.js
dist/init.iife.js

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Rake
.rake_tasks~
