name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1.66.0
      with:
        ruby-version: 3.0.0
    - name: make
      run: make
    - name: make check
      run: make check
