name: C/C++ CI

on:
  push:
    branches:
      - master
      - ci-test
  pull_request:
    branches:
      - master

env:
  GIT_DISCOVERY_ACROSS_FILESYSTEM: 1

permissions:
  contents: write
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout recursive
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Debug submodules
      working-directory: ${{ github.workspace }}
      run: |
        git submodule status
        git submodule foreach 'git status --short'

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: false

    - name: Bundle install
      working-directory: ${{ github.workspace }}
      run: |
        bundle install

    - name: Setup mruby
      env:
        MRUBY_DIR: ${{ runner.temp }}/mruby
        MRUBY_VERSION: '3.4.0'
      run: |
        rm -rf "$MRUBY_DIR"
        git clone -b "$MRUBY_VERSION" --depth 1 \
          https://github.com/mruby/mruby.git "$MRUBY_DIR"
        cd "$MRUBY_DIR"
        rake

    #- name: Setup tmate session
    #  uses: mxschmitt/action-tmate@v3

    - name: Test all
      env:
        MRUBY_DIR: ${{ runner.temp }}/mruby
        PICORBC_COMMAND: $PWD/bin/picorbc
        MRUBY_COMMAND: $MRUBY_DIR/bin/mruby
      run: rake test:all

    - name: Set up Git user
      if: github.event_name == 'push'
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Run `rake runtime_gems`
      if: github.event_name == 'push'
      run: |
        rake runtime_gems

    - name: Commit RuntimeGems
      if: github.event_name == 'push'
      run: |
        git add runtime_gems/
        if ! git diff --cached --quiet; then
          git commit -m "Update RuntimeGems [skip ci]"
        fi

    - name: Create Pull Request for RuntimeGems update
      if: github.event_name == 'push'
      uses: peter-evans/create-pull-request@v5
      with:
        commit-message: "Update RuntimeGems [skip ci]"
        title: "Update RuntimeGems"
        body: "Automated update of RuntimeGems."
        branch: "auto/update-runtimegems"
        delete-branch: true
